.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 55px;
    z-index: 10;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 12px;
    background: var(--background-color);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.06);
}